:root{
    --dark-baige: rgb(255, 216, 157);
}

body{
    width: 50%;
    margin: 10% auto;
    background: blanchedalmond;
}

#keyboard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5%;
    row-gap: 10%;
}

#keyboard>button{
    height: 3rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    border: 2px solid var(--dark-baige);
    transition: scale 0.2s;
}

#keyboard>button:hover{
    scale: 110%;
}

#keyboard > input{
    grid-column: 1 / 5;
    height: 3rem;
    font-weight: bold;
    border: 2px solid var(--dark-baige);
}