:root{
    --baige: blanchedalmond;
    --dark-baige: rgb(255, 216, 157);
    --darker-baige: rgb(255, 153, 0);
}

body{
    width: 50%;
    margin: 10% auto;
    background: var(--baige);
    height: 50vh;
}

h1{
    color: var(--darker-baige);
    width: 50%;
    margin: 5% auto;
}

#keyboard{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 5%;
    row-gap: 5%;
    border: 5px dashed var(--darker-baige);
    border-radius: 10%;
    padding: 5%;
}

#keyboard>button{
    height: 3rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    border: 2px solid var(--dark-baige);
    transition: scale 0.2s;
    border-radius: 10px;
    vertical-align: middle;
    color: var(--darker-baige);
}

#keyboard>button:hover{
    scale: 110%;
}

#keyboard > input{
    grid-column: 1 / 5;
    height: 3rem;
    font-weight: bold;
    border: 2px solid var(--dark-baige);
    padding: 0 1rem;
}

#equals{
    grid-column: span 2;
}